header{

    text-align:center;

    margin-bottom:35px;

}

header h1{

    font-size:3rem;

    font-weight:800;

    background:
    linear-gradient(
    90deg,
    #8b5cf6,
    #06b6d4);

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}

header p{

    margin-top:10px;

    color:#cbd5e1;

    font-size:1.05rem;

}